.vscode/**
.vscode-test/**
src/**
tests/**
docs/**
previews/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig*.json
vite.*.config.ts
vitest.config.ts
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
